* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 69, 71);
  /* color: white; */
  /* max-height: 100vh;
  overflow-y: hidden; */
}

.container-1 {
  width: 60%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-block: 10px;
  background-color: rgba(0, 255, 255, 0.295);
}

h1 {
  font-size: 70px;
  font-weight: 100;
}

.btn-wrapper {
  width: 80%;
  display: none;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  /* justify-content: ; */
}

h3 {
  background-color: beige;
  color: black;
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 50px;
  line-height: 1.5;
  width: fit-content;
  max-width: inherit;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}



.copyBtn {
  cursor: pointer;
  background-color: transparent;
  color: black;
  place-self: center;
}
.copyBtn i {
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 80%; */
  padding: 20px;
  align-items: center;
}

div.form-group {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

div.form-group label {
  font-size: 25px;
  /* margin-right: 15px; */
}

div.first input[type="range"] {
  width: 200px;
}

div.first input[type="number"] {
  outline: none;
  text-align: center;

}

div.type input[type="checkbox"] {
  height: 20px;
  width: 20px;
  place-self: center;
  border-radius: none;
}

input[type="submit"] {
  grid-column: 1 / 3;
  background: none;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(8, 40, 41);
  padding: 15px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

button {
  grid-column: 1 / 3;
  background: none;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(8, 40, 41);
  padding: 15px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.soial-icons {
  display: flex;
  gap: 30px;
  list-style-type: none;
} 



